
<span class="btn hide-xs">Hidden only on xs</span>
<span class="btn hide-sm">Hidden only on sm</span>
<span class="btn hide-md">Hidden only on md</span>
<span class="btn hide-lg">Hidden only on lg</span>
<span class="btn hide-xl">Hidden only on xl</span>
<hr>
<span class="btn btn-primary show-xs">Visible only on xs</span>
<span class="btn btn-primary show-sm">Visible only on sm</span>
<span class="btn btn-primary show-md">Visible only on md</span>
<span class="btn btn-primary show-lg">Visible only on lg</span>
<span class="btn btn-primary show-xl">Visible only on xl</span>
